body{
    background: linear-gradient(90deg,rgb(132, 132, 185), yellow);
}
#title{
    display: flex;
    flex-direction: row;
    background: linear-gradient(5deg,red,gold);
    justify-content: center;
    align-items:center;
    font-size: 30px;
    border: 1px solid ;
    width: 400px;
    /* margin:auto;  */
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}